.profile_img{
    width:20px;
    height:auto;
    padding:2px;
    border-radius:50px;
}

.remove_btn{
    background-color:red;
    border-radius: 50px;
    width:30px;
}


.search_user_area{
    background-color:black;
    display: block;
    margin:auto;
}

