{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Dashboard</title>
</head>
<body>
    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
          <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-10 h-10 text-white p-2 bg-indigo-500 rounded-full" viewBox="0 0 24 24">
              <path d="M12 2L2 7l10 5 10-5-10-5zM2 17l10 5 10-5M2 12l10 5 10-5"></path>
            </svg>
            <span class="ml-3 text-xl">Dashboard</span>
          </a>
          <nav class="md:ml-auto md:mr-auto flex flex-wrap items-center text-base justify-center">
            <!-- <a class="mr-5 hover:text-gray-900">First Link</a>
            <a class="mr-5 hover:text-gray-900">Second Link</a>
            <a class="mr-5 hover:text-gray-900">Third Link</a>
            <a class="mr-5 hover:text-gray-900">Fourth Link</a> -->
            <div style="display: block; margin:auto; border-style: solid;">
              <!-- <button style="display:block; margin:auto;">Search</button> -->
            <div class="form-group">
              <input type="text" class="form-control" name="myinput" onkeyup="myFunction()" placeholder="search by phone no." value="" required>
          </div>
        </div>
          </nav>
          <a class="login-btn2" href="/manage/menu">My Menu</a>
          <a class="login-btn2" href="/manage/add_customer">Add Customer</a>
          <a class="login-btn2" href="/manage/post">Upload Product</a>
            <a class="login-btn2" href="/manage/all_customer">My All Customers</a>
            <a class="login-btn2" href="/accounts/logout">Logout</a>
        <!-- </div> -->
        </div>
      </header>
      <!-- <h1>Active Orders</h1> -->
      <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead>
                  <tr>
                    <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Name
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Contact
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Status
                    </th>
                    <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Phone No.
                    </th>
                    <!-- <th scope="col" class="px-6 py-3 bg-gray-50 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                      Order value
                    </th> -->
                    <th scope="col" class="px-6 py-3 bg-gray-50">
                      <span class="sr-only">Edit</span>
                    </th>
                  </tr>
                </thead>
                <!-- {% if user.authenticated %} -->
                <!-- {% for customer in new_customer %} -->
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="flex items-center">
                        <!-- <div class="flex-shrink-0 h-10 w-10">
                        </div> -->
                        <div class="ml-4">
                          <div class="text-sm font-medium text-gray-900">
                            Jane Cooper
                          </div>
                          <div class="text-sm text-gray-500">
                            jane.cooper@example.com
                          </div>
                        </div>
                      </div>
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <div class="text-sm text-gray-900">Address siufysdcns o8yidfhs nodliwud asoiqhasad o</div>
                      <!-- <div id="ph" class="text-sm text-gray-500">Phone no.</div> -->
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">
                      <span class="px-2 inline-flex text-xs leading-5 font-semibold rounded-full bg-green-100 text-green-800">
                        Active
                      </span>
                    </td>
                    <!-- <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      <i class="fa fa-inr" aria-hidden="true"></i> 500
                    </td> -->
                    <td id="ph" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                      Phone No.
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                      <a href="#" class="text-indigo-600 hover:text-indigo-900">Delete</a>
                    </td>
                  </tr>
                </tbody>
                <!-- {% endfor %} -->
                <!-- {% endif %} -->
              </table>

            </div>
          </div>
        </div>
      </div>

      <script>
        function myFunction() {
          var input, filter, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            // ul = document.getElementById("myUL");
            td = getElementById("ph");
            for (i = 0; i < td.length; i++) {
                // a = td[i].getElementsByTagName("a")[0];
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    td[i].style.display = "";
                } else {
                    td[i].style.display = "none";
                }
            }
        }
        </script>

</body>
</html>