{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login-css.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>OTP Verficiation</title>
</head>
<body>
    <div class="login">
        <div style="margin-left:110px;">
            <!-- <p style="color:white; font-weight:bold; font-size: 30px;">TizzyWizzy</p> -->
        
    </div>
        <h1>OTP Verification</h1>
        <p style="color:white;">Otp sent on your registered email id</p>
        <form action ='{{login}}' method="POST">
            {% csrf_token %}
            <input type="text" name="otp_sent"  title= "Verification code is required" maxlength="7" placeholder="Enter OTP sent on your email id" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
			<a class="btnRegister" href="/accounts/username_verification/" style="padding-left:20px; color:white;" value="Forgot password">forgot password</a>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
      <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
    {% endfor %}
{% endif %}
</body>
</html>