{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login-css.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Username Check</title>
</head>
<body>
    <div class="login">
        <div style="margin-left:110px;">
            <!-- <p style="color:white; font-weight:bold; font-size: 30px; margin-bottom: 0%; margin-left:-15px;">Amdocs</p> -->
        
    </div>
        <h1>Check Username</h1>
        <form action ='{% url 'username verification' %}' method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Verify Username</button>
			<a class="btnRegister" href="/accounts/login/" style="padding-left:20px; color:white;" value="Forgot password">Login</a>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
      <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
    {% endfor %}
{% endif %}
</body>
</html>