{% load static %}

<!DOCTYPE html>
<html>

<head>
<link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<link href="{% static 'css/feeds.css' %}" rel="stylesheet">
<link href="{% static 'css/style_profile.css' %}" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

<header class="text-gray-700 body-font">
</header>
<div class="menu">
  <div class="logo">
  <a href="/"><img class="logo_img" src="{% static 'images/tizzywizzy_logo.png' %}" alt="TizzyWizzy"></a>
  <!-- <h5>TizzyWizzy</h5> -->
  <div class="myprofile">
    <a href="/manage/{{context.myself}}"><img class="profile_img" src="{% static 'images/user.png' %}" alt="TizzyWizzy"></a>
  </div>
</div>
</div>
{% for i in context.post %}
<div class="nonen">
    <div class="post_image">
        <div class="user-info">
            <h3><a href="/manage/{{i.username}}" style="color:rgb(37, 228, 30);">{{i.username}}</a></h3>
        </div>
        {% if i.post_file is not none %}
        <!-- <img src="{% static 'images/lead-image-105.png' %}" style="width:500px; height:500px;" alt="alternative text"> -->
        
        <img src="{{ i.post_file.url }}" style="width:100%; height:300px;" alt="{{i.username}}'s post">
       

        {% endif %}
            <div class="row">
              <div class="user-info-2">
                <h5 style="color:rgb(50, 24, 192); text-align: center;">{{i.post}}</a></h5>
            </div>
                <div class="column">  
                    {% if i.id in context.liked %}
                    <a href="{% url 'unlike' i.id %}" id="unlike"><img style="margin-left:20px; margin-top:-10px; width:50px;" src="{% static 'images/after-heart.png' %}"></a>
                    {% else %}
                    <a href="{% url 'like' i.id %}" id="like"><img style="margin-left:20px; margin-top:-10px; width:50px;" src="{% static 'images/before-heart.png' %}"></a>
                    {% endif %}
                    <div class="column2">
                        <h5 style="margin-top:-5px;" id="load" >{{i.like_count}} Likes</h5>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endfor %}  
<div class="footer">
    <a href="/manage/post" ><button class="button button5 plus"><i class="fa fa-upload fa-2x" style="margin-left:-14px;" aria-hidden="true"></i></button></a>
    <a href="/manage/" ><button class="button button5 plus"><i class="fa fa-list fa-2x" style="margin-left:-14px;"aria-hidden="true"></i></button></a>
    <a href="/manage/search/" ><button class="button button5 plus"><i class="fa fa-search fa-2x" style="margin-left:-14px;" aria-hidden="true"></i></button> </a>
    <a href="/manage/{{context.myself}}" ><button class="button button5 plus"><i class="fa fa-user fa-2x" style="margin-left:-11px;" aria-hidden="true"></i></button></a>
</div>
</body>
<script>
</script>
</html>
