{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'css/style_profile.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Profile</title>
</head>
<body>

<div class="headmenu">
    <div class="headmenu2">
        <a href="/manage/{{context.myself}}"><img class="profile_img" src="{% static 'images/user.png' %}" alt="TizzyWizzy"></a>
            <div class="headmenu3">
                <a href="{% url 'profile' context.profile.username %}" ><h1>{{context.profile.username}}</h1></a>
            </div>
    </div>
</div>

        <div class="profile-stats">

            <ul>
                <!-- <li><span class="profile-stat-count">164</span> posts</li> -->
                <li><span class="profile-stat-count">{{context.follow.followers}}</span> followers</li>
                <li><span class="profile-stat-count">{{context.follow.following}}</span> following</li>
            </ul>
            {% if not context.itsme %}
                {% if not context.status %}
                <a class="login-btn2" href="{% url 'add_follow' context.profile.username %}">Follow</a>
                {% else %}
                <a class="login-btn2" href="{% url 'del_follow' context.profile.username %}">Unfollow</a>
                {% endif %}
            {% endif %}

            <!-- for posts  -->
            {% if context.posts_exists %}
            {% for post in context.posts %}
            {{post.post}}
            {% endfor %}
            {% else %}
            <h1>oops no post uploaded</h1>
            {% endif %}
        </div>
        
</header>

<main>
    <!-- End of gallery -->

    <div class="loader"></div>

</div>
<!-- End of container -->

</main>