{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/login-css.css' %}">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Register</title>
</head>
<body>
    <div class="login">
        <!-- <div style="margin-left:110px;"> -->
        
    <!-- </div> -->
        <h1>Register</h1>
        <form action ='{{register}}' method="POST">
            {% csrf_token %}
			<input type="text" name="firstname" placeholder="First Name" required="required" />
			<input type="text" name="lastname" placeholder="Last Name" required="required" />
			<input type="password" name="password1" title="Minimum of 8 characters. Combination of small & capital letters along with numbers and special characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" placeholder="Password" required="required" />
			<input type="password" name="password2" title="Minimum of 8 characters. Combination of small & capital letters along with numbers and special characters" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[\W_]).{8,}" placeholder="Re-Password" required="required" />
            <input type="text" name="username" placeholder="Username" required="required" />
			<input type="email" name="email" placeholder="Email" required="required" />
			<input type="text" name="phone" placeholder="Phone Number" minlength="10" maxlength="10" required="required" />
            <button type="submit" class="btn btn-primary btn-block btn-large">Let me in.</button>
			<a class="btnRegister" href="/accounts/login/" style="padding-left:20px; color:white;" value="Forgot password">Login</a>
        </form>
    </div>
    {% if messages %}
    {% for message in messages %}
      <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
    {% endfor %}
{% endif %}
</body>
</html>